@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

body {
  color: #fff;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  font-weight: 300;
  background-color: #026ba9;
}
#parallax__title {
  position: fixed;
  left: 24px;
  top: 24px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 100px;
}

#parallax__title h1 {
  font-size: 0.8vw;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 400;
  display: inline-block;
}

#parallax__title h1 strong {
  font-weight: 600;
  font-size: 1.5vw;
}

#parallax__nav {
  position: fixed;
  right: 24px;
  top: 24px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5% 0.5%;
  border-radius: 22%;
}

#parallax__nav ul {
  /* display: flex; */
  width: 100%;
  height: 100%;
  align-items: center;
}

#parallax__nav li {
  list-style: none;
  width: 100%;
  height: 100%;
}

#parallax__nav li a {
  display: block;
  width: 5vw;
  padding: 0.5vw;
  text-align: center;
  font-size: 0.7vw;
  font-weight: 600;
}

#parallax__nav li a.active {
  background: #fff;
  color: #000;
  border-radius: 30px;
}

/* parallax__cont */
#parallax__cont {
  width: 100%;
  margin: 0 auto;
}

.parallax__item {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  aspect-ratio: 16/9;
  background: #fff;
}

.parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  /* aspect-ratio: 16/9; */
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

/* 인트로 */
.intro_title_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #fdead8; */
  width: 25%;
  padding-bottom: 3%;
  border: 10px solid #fdead8;
  border-radius: 5%;
}
.intro_title {
  font-size: 4.8vw;
  padding: 10% 12% 10% 12%;
  font-weight: 500;
  color: #fdead8;
  text-align: left;
  line-height: 7vw;
  margin: 0 auto;
  font-family: 'SBAggroB';
  letter-spacing: -0.2vw;
}

.intro_title > span {
  display: inline-block;
}
.intro_title_name {
  font-size: 1.3vw;
  font-weight: 400;
  text-align: center;
  color: #fdead8;
}

.intro_btn {
  width: 2.4vw;
  position: absolute;
  bottom: 15px;
  right: 25px;
  /* transform: translate(-50%,-50%); */
  border-radius: 50%;
  cursor: pointer;
}

/* .icon_right {
  position: absolute;
  top: 73%;
  left: 76%;
  transform: translateX(-50%);
  color: #fdead8;
}
.icon_right img {
  width: 30%;
} */

/* 프로필 */
#section2 .parallax__item {
  position: relative;
}
.profile_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
}
.profile {
  color: #333;
  text-align: left;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 6% 10%;
  box-sizing: border-box;
  column-gap: 9%;
  row-gap: 5%;
  grid-template-columns: 16% 36% 29%;
  grid-template-rows: 40% 28% 24%;
  grid-template-areas:
    'profile_picture career skill'
    'profile_cont career license'
    'education career keyword';
}

.profile_picture {
  grid-area: profile_picture;
}
.profile_cont {
  grid-area: profile_cont;
}
.education {
  grid-area: education;
}
.career {
  grid-area: career;
}
.skill {
  grid-area: skill;
}
.license {
  grid-area: license;
}
.keyword {
  grid-area: keyword;
}

.skill_cont,
.license_cont,
.keyword_cont {
  display: flex;
}

.profile_picture {
  border-radius: 15%;
}
.profile_picture img {
  width: 100%;
  object-fit: contain;
  border-radius: 15%;
}

.profile_wrap .profile .po_title {
  background: #fdead8;
  color: #026ba9;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.7vw;
  line-height: 1.4vw;
  margin-bottom: 3%;
}

.profile_cont ul {
  margin-bottom: 2%;
}
.profile_cont ul li {
  font-size: 0.8vw;
  line-height: 1.4vw;
}
.profile_cont ul li strong {
  font-weight: 600;
}

.education_cont li span,
.career_cont li span {
  display: block;
  background: #77c2ee;
  color: #fff;
  font-size: 0.65vw;
  line-height: 1.2vw;
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2.5%;
}
.education_cont li p {
  text-align: center;
  margin-bottom: 4%;
  font-size: 0.8vw;
}
.career_cont li span {
  margin-bottom: 1%;
}

.career_cont li p {
  font-size: 0.8vw;
  line-height: 1.4vw;
  font-weight: 600;
}
.career_cont > li {
  margin-bottom: 2%;
}
.career_list {
  margin-bottom: 2%;
}
.career_list li {
  font-size: 0.75vw;
  line-height: 1.3vw;
}

.skill_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
}
.skill_cont li {
  width: 17%;
  margin-top: 3%;
}

.license_cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.license_cont li {
  font-size: 0.75vw;
  border: 1px solid #d7eefc;
  color: #026ba9;
  box-sizing: border-box;
  margin: 1% 0;
  padding: 1.8% 3%;
  width: 47%;
  text-align: center;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: -1px;
}

.keyword_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.keyword_cont li {
  background: #77c2ee;
  border-radius: 3px;
  padding: 2.5%;
  font-size: 0.8vw;
  font-weight: 400;
  color: #fff;
  width: 25%;
  margin-bottom: 2%;
  text-align: center;
}

/* 웹 슬라이드 */
.swiper {
  width: 100%;
  height: 100%;
}
#section3 .swiper-slide {
  display: flex;
}
.web_img {
  width: 60%;
  height: 85%;
  background: url(../img/web_mockup_01.jpg) no-repeat center/cover;
}
.swiper-slide:nth-child(2) .web_img {
  background: url(../img/web_mockup_02.jpg) no-repeat center/cover;
}
.swiper-slide:nth-child(3) .web_img {
  background: url(../img/web_mockup_03.jpg) no-repeat center/cover;
}

.web_cont {
  width: 40%;
  height: 85%;
  color: #333;
  padding: 5% 4%;
  box-sizing: border-box;
}

.web_cont h2 {
  color: #026ba9;
  font-size: 2.1vw;
  margin: 15% 0 18% 0;
}
.web_cont_wrap {
  text-align-last: left;
  font-size: 0.95vw;
}
.web_cont_wrap p {
  margin-bottom: 2%;
  font-weight: 500;
}
.web_cont_wrap span {
  width: 20%;
  float: left;
  font-weight: 300;
}
.web_cont_wrap .web_cont_review {
  margin-top: 10%;
  font-weight: 300;
  line-height: 1.5vw;
}

.web_cont ul {
  display: flex;
  justify-content: center;
  gap: 8%;
  margin-top: 20%;
}
.web_cont ul li {
  width: 35%;
}
.web_cont ul li a {
  background: #fdead8;
  font-size: 0.9vw;
  display: block;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  line-height: 2.5vw;
}
.web_cont ul li:hover a,
.web_cont ul li a:focus {
  background: #026ba9;
  color: #fff;
}

#section3 .swiper-pagination,
#section4 .swiper-pagination {
  bottom: 3.5%;
}
#section3 .swiper-pagination-bullet,
#section4 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #77c2ee;
  opacity: 0.7;
}
#section3 .swiper-pagination-bullet.swiper-pagination-bullet-active,
#section4 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #026ba9;
  opacity: 1;
}

#section4 .swiper {
  padding: 3.5% 1.5% 0 1.5%;
  box-sizing: border-box;
}
#section4 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((88% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#section4 .swiper-slide a {
  display: block;
  width: 100%;
}
#section4 .swiper-slide a img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  display: block;
}
