/*  레이아웃 */
#wrap {width: 100%;}
#header {
  width: 100%;
  background: rgba(0,0,0,.6);
  padding: 20px 0;
  min-width: 1200px;
  position:fixed;
  top:0;left: 0;z-index: 100;}
#main {width: 100%;}
#mainVisual {}
#donate {}
#whoWeAre{}
#subcribe{}
#footer {width: 100%;}
.footer-wrap {}
.sns-acount {}
.container {
  width: 1200px;
  margin: 0 auto;
  height: inherit;
  box-sizing: border-box;
  /* background: rgba(0,0,0,.3); */
}
/* header */
#header h1{float: left;}
#header h1 a {
  display: block;
  width: 127px;height: 23px;
  background: url(../img/logo-light.png) no-repeat ;
  background-size: 127px 23px;
  overflow: hidden;
}
#header nav {display: flex;justify-content: end;}
#header nav ul {display: flex;}
#header nav ul li {}
#header nav ul li a {
  display: block;
  color: #fff;
  padding: 0 15px;
  line-height: 23px;
}
#header nav ul li a:hover,
#header nav ul li.on a {
  color:#ffb422;
}
#header nav .search {padding-left: 15px;}
#header nav .search a {
  display: block;
  width: 23px;height: 23px;
  background: url(../img/icon-search.svg) no-repeat center;
  background-size: 17px;
  text-indent:-9999px;
}
#header nav .cart {padding: 0 15px; position: relative;}
#header nav .cart a {
  display: block;
  width: 23px;height: 23px;
  background: url(../img/icon-cart.svg) no-repeat center;
  background-color: 17px;
  text-indent: -9999px;
}
#header nav .cart span {
  display: block;
  width: 16px;height: 16px;
  background-color: #ffb422;
  border-radius: 50%;
  color:#fff;
  text-align: center;
  line-height: 16px;
  position: absolute;
  top:-4px;right:13px;
}
#header nav .donate {border-left: 1px solid #888;padding-left: 15px;}
#header nav .donate a {
  color: #fff;
  line-height: 23px;
}
#header nav .donate a:hover {
  color: #ffb422;
}
/* mainVisual */
#mainVisual {
  width: 100%;
  height: 638px;
  background: url(../img/h1-slide-1-background-img.jpg) center;
  background-size: cover;
}
#mainVisual .container {display: flex;align-items: center;}
#mainVisual .main_text {padding: 0 30px;}
#mainVisual .main_text h2 {
  width: 520px;
  font-family: 'Merriweather';
  font-size: 63px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -1px;
}
#mainVisual .main_text h2 strong{
  color: #ffb422;
}
#mainVisual .main_text p{
  color:#fff;
  width: 540px;
  font-size: 17px;
  margin-bottom: 40px;
}
/* 버튼 설정 */
.btn {}
.btn a {
  display: inline-block;
  min-width: 80px;
  height: 43px;
  line-height: 43px;
  border: 2px solid #fff;
  border-radius: 22px;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding: 0 40px;
  transition: all 0.3s;
}
.btn a:hover {
  border-color: #ffb422;
  color:#ffb422;
}
/* donate */
#donate,#whoWeAre {margin: 50px 0;}
#donate h2,#whoWeAre h2 {
  font-size: 32px;
  color:#000;
  font-family: 'Merriweather';
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
#donate h2+p,#whoWeAre h2+p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 100px;
}
#donate h2+p::after,#whoWeAre h2+p::after {
  content:'';
  display: block;
  width: 0px;
  height: 3px;
  background-color:#ffb422 ;
  position: relative;
  bottom: -10px;
  left:50%;
  transform: translateX(-50%);
  transition: all 0.2s;
}
#donate .title:hover p::after,#whoWeAre .title:hover p::after {
  width: 200px;
}
#donate ul, #whoWeAre ul {display: flex;justify-content: space-between;}
#donate ul li {
  width: 32%;
  height: 300px;
  background: url(../img/h1-img-1.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
#donate ul li:nth-child(2){
  background-image: url(../img/h1-img-2.jpg);
}
#donate ul li:nth-child(3){
  background-image: url(../img/h1-img-3.jpg);
}
#donate .overbg {
  display: block;
  width: 100%;height: 100%;
  background: rgba(0,0,0,.7);
  padding: 42px 20px 0;
  color:#fff;
  opacity:0 ;
  transition: all 0.3s;
}
#donate ul li p {
  font-size: 24px;
  font-family: 'Merriweather';
  line-height: 1.3;
}
#donate ul li .btn {
  position: absolute;
  bottom: 40px;
  left: 30px;
}
#donate ul li .btn a {
  background: #fff;
  color:#000;
  border: 0;
}
#donate ul li .btn a:hover {
  background: #ffb422;
  color:#fff;
}
#donate .overbg:hover {
  opacity: 1;
}
/* who we are */
#whoWeAre ul li {
  width: 32%;
}
#whoWeAre ul li figure {
  overflow: hidden;
  margin-bottom: 20px;
}
#whoWeAre ul li figure img {display: block;transition: all 0.3s;}
#whoWeAre ul li figure img:hover {transform: scale(1.2);}
#whoWeAre ul li h3{
  font-family: "Merriweather";
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}
#whoWeAre ul li p{
  font-size: 15px;
  text-align: justify;
}
/* subscribe */
#subcribe {width: 100%;background: #9fcf5d;}
#subcribe .container {
  padding: 60px;
  display: flex;
  justify-content: space-between;
}
#subcribe h3 {
  font-family: 'Merriweather';
  font-size: 35px;
  line-height: 47px;
  color: #fff;
}
#subcribe .btn a:hover {
  border-color: #000;
  color:#000;
}
/* footer */
.footer-wrap {
  background: #141414;
  font-size: 14px;
}
.footer-wrap .container {
  padding: 60px;
}
.footer-wrap .container > ul {display: flex;}
.footer-wrap .container > ul > li {
  width: 25%;
  padding-right: 50px;
  box-sizing: border-box;
}
.footer-wrap .container > ul > li:last-child{
  padding-right: 0;
}
.footer-wrap h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

/* about */
.footer-wrap ul li.about p {
  margin-bottom: 20px;
  color:#888;
}
.footer-wrap ul li.about dl dt {
  float: left;
  color: #fff;
  line-height: 20px;
  margin-right: 15px;
}
.footer-wrap ul li.about dl dd {
  color:#ffb422;
}
/* link */
.footer-wrap ul li.link a {
  line-height: 35px;
  padding-left: 18px;
  color:#888;
  position: relative;
}
.footer-wrap ul li.link a::before {
  content: '';
  display: block;
  width: 0;height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ffb422 ;
  position: absolute;
  top: 4px;left: 0;
}
/* post */
.footer-wrap ul li.post dl dt {
  padding-top: 10px;
}
.footer-wrap ul li.post dl dt:first-child {
  padding-top: 0;
}
.footer-wrap ul li.post dl dt a {color: #888;}
.footer-wrap ul li.post dl dd {
  font-size: 12px;
  color: #ffb422;
  border-bottom: 1px solid #393837;
  padding-bottom: 15px;
}
/* sns */
.sns-acount  {width: 100%;background: #000;}
.sns-acount .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}
.sns-acount .container ul {}
.sns-acount .container ul li {
  display: inline-block;
  margin-right: 25px;
}
.sns-acount .container ul li a {
  display: block;
  width: 21px;height: 20px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/icon-social.png) no-repeat;
}
.sns-acount p {
  font-size: 14px;
  color: #888;
}
/* 가로의 위치를 21px 왼쪽으로 이동 */
.sns-acount ul li:nth-child(2) a { background-position: -21px 0;}
.sns-acount ul li:nth-child(3) a { background-position: -42px 0;}
.sns-acount ul li:nth-child(4) a { background-position: -63px 0;}
.sns-acount ul li:nth-child(5) a { background-position: -84px 0;}
.sns-acount ul li:nth-child(6) a { background-position: -105px 0;}

/* 마우스를 올렸을때 위로 20px 이동  */
.sns-acount ul li a:hover{background-position-y: -20px;}


/* --------------미디어쿼리--------------------- */
@media screen and (max-width:1200px) {
  .container {width: 100%;}
}
@media screen and (max-width:600px) {
  #header {
    background-color: rgba(255,255,255,1);
    min-width: 320px;
  }
  #header h1 {
    float: none;
    width: 127px;
    margin: 0 auto;
  }
  #header h1 a {
    background: url(../img/logo-default.png) no-repeat;
    background-size: 127px 23px;
  }
  /* 햄버거아이콘 넣기 */
  #header .m-menu {
    width: 40px;height: 40px;
    background: url(../img/icon-menu.png) no-repeat;
    position: absolute;
    top: 15px;left: 20px;
    cursor: pointer;
  }
  #header nav {
    display: none;
    background-color: #fff;
    margin-top: 30px;
    padding: 20px 20px;
  }
  #header nav ul {display: block;}
  #header nav ul li {
    line-height: 36px;
    border-bottom: 1px solid #eaeaea;
  }
  #header nav ul li a{
    display: block;
    color: #333;
    padding: 0;
    line-height: 30px;
    position: relative;
  }
  #header nav .search {padding-left: 0;}
  #header nav .search a {
    display: block;
    width: auto;
    height: 36px;
    background: none;
    text-indent: 0;
    border-bottom: 1px solid #eaeaea;
    position: relative;
  }
  #header nav .cart {
    padding: 0;
    position: relative;
  }
  #header nav .cart a {
    width: auto;
    height: 36px;
    line-height: 36px;
    text-indent: 0;
    border-bottom: 1px solid #eaeaea;
  }
  #header nav .cart span{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #header nav .donate {
    border-left: 0;padding-left: 0;
  }
  #header nav .donate a {
    display: block;
    color: #333;
    line-height: 36px;
    position: relative;
  }
  /* 메뉴옆에 화살표 넣기 */
  #header nav ul li a::after,
  #header nav .search a::after,
  #header nav .donate a::after {
    content: '';
    width: 12px;height: 13px;
    background: url(../img/icon-arrow.png);
    position: absolute;
    top: 11px;right: 10px;
  }

 /* mainVisual */
#mainVisual .main_text h2 {width: 100%;}
#mainVisual .main_text p {width: 100%;}

/* donate */
#donate ul, #whoWeAre ul {flex-wrap: wrap;}
#donate ul li {
  width: 100%;
  height: 400px;
}
/* whoWeAre */
#whoWeAre {width: 100%;padding: 0 20px;box-sizing: border-box;}
#whoWeAre ul li {width: 100%;margin-bottom: 40px;}

/* subcribe */
#subcribe .container {padding: 20px;flex-wrap: wrap;justify-content: center;}
#subcribe h3 {width: 100%;font-size: 24px;text-align: center;line-height: 30px;margin-bottom: 30px;}

/* footer */
.footer-wrap {
  width: 100%;
  padding: 50px 30px 0;
  box-sizing: border-box;
}
.footer-wrap .container {padding: 20px;}
.footer-wrap .container > ul {flex-wrap: wrap;}
.footer-wrap .container > ul >li {
  width: 100%;
  margin-bottom: 80px;
  padding-right: 0;
}
.sns-acount .container {flex-wrap: wrap;justify-content: center;}
.sns-acount .container ul li {margin-right: 0;}
}




